{{ $header := resources.Get "js/header.js" | resources.Minify }}
{{ $time := resources.Get "js/time.js" | resources.Minify }}
{{ $main := resources.Get "js/main.js" }}
{{ $js := slice $time $header | resources.Concat $main | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
<footer>
    <div class="items-{{len .Site.Params.Footer}}">
    {{ range .Site.Params.Footer}}
    <section>
        <h2>
        {{ .title }}
        </h2>
        {{ with .description }}
        <p>
        {{ . | markdownify }}
        </p>
        {{ end }}
        {{$page := .}}
        {{ if gt .recentCount -1 }}
        {{ $.Scratch.Set "count" .recentCount }}
        {{ else }}
        {{ $.Scratch.Set "count" 10 }}
        {{ end }}
        {{ with .recents }}
        <ul>
            {{ range first ($.Scratch.Get "count") (where (where $.Site.Pages "Section" "blog") ".Kind" "==" "page" )}}
            <li>
                <a href={{.Permalink}}>{{ .Title }}</a> -
                <time datetime="{{ .PublishDate }}">{{ dateFormat "Monday, Jan 2, 2006." .PublishDate}}</time>
            </li>
            {{ end }}
        </ul>
        {{ end }} {{ $.Scratch.Delete "count" }} {{ with .contact }}
        <ul class="contact-us">
            {{ with $.Site.Author.email }}
            <li>
                <a target="_blank" href="mailto:{{ . }}">
                    <i class="icon-envelope"></i>
                    {{$middle := replaceRE "^.*@" "" .}}
                    <span>{{replaceRE "@.*$" "" .}} [at] {{ replaceRE "\\..*" "" $middle }} [dot] {{ replaceRE "^.*\\." "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.linkedin }}
            <li>
                <a target="_blank" href="{{ . }}">
                    <i class="icon-linkedin"></i>
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.github }}
            <li>
                <a target="_blank" href="{{ . }}">
                    <i class="icon-github"></i>
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.twitter }}
            <li>
                <a target="_blank" href="{{ . }}">
                    <i class="icon-twitter"></i>
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.facebook }}
            <li>
                <a target="_blank" href="{{ . }}">
                    <i class="icon-facebook"></i>
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }}

        </ul>
        {{ end }}
    </section>
    {{ end }}
    </div>
    <section id="copyright">
        &copy; 2016 -
        <time class="now" datetime="{{ now }}">{{ dateFormat "2006" now}}</time>, Atishay Jain. Images from
        <a href="http://pixabay.com" class="footer-link" rel="nofollow" target="_blank">Pixabay</a>
        ,
        <a href="http://flickr.com" rel="nofollow" target="_blank" class="footer-link">Flickr</a>
        . Icons from
        <a href="http://flaticon.com" rel="nofollow" class="footer-link">FlatIcon</a>
        &amp;
        <a href="http://iconfinder.com" rel="nofollow" class="footer-link">IconFinder</a>. Last Updated -
        <time datetime="{{ now }}">{{ dateFormat "Monday, Jan 2, 2006." now}}</time>
    </section>

</footer>
{{/* Goto top link
<a href="#" class="scrollUp">
    <i class="fa fa-angle-up">
    </i>
</a>
*/}}
