{{ $header := resources.Get "js/header.js" | resources.Minify }}
{{ $time := resources.Get "js/time.js" | resources.Minify }}
{{ $main := resources.Get "js/main.js" }}
{{ $js := slice $time $header | resources.Concat $main | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
<a href="#top" class="scrollUp">
    {{ $icon := resources.Get "image/line-awesome/fa-angle-up.svg" | resources.Minify }}
    {{ replace $icon.Content "<svg " "<svg width=\"30px\" " | safeHTML }}
</a>
<footer>
    <div class="items-{{len .Site.Params.Footer}}">
    {{ range .Site.Params.Footer}}
    <section>
        <h2>
        {{ .title }}
        </h2>
        {{ with .description }}
        <p>
        {{ . | markdownify }}
        </p>
        {{ end }}
        {{$page := .}}
        {{ if gt .recentCount -1 }}
        {{ $.Scratch.Set "count" .recentCount }}
        {{ else }}
        {{ $.Scratch.Set "count" 10 }}
        {{ end }}
        {{ with .recents }}
        <ul>
            {{ range first ($.Scratch.Get "count") (where (where $.Site.Pages "Section" "blog") ".Kind" "==" "page" )}}
            <li>
                <a href={{.Permalink}}>{{ .Title }}</a> -
<time datetime="{{ .PublishDate.Format "02 Jan 06 15:04 -0700" }}">{{ .PublishDate.Format "Monday, Jan 2, 2006."}}</time>
            </li>
            {{ end }}
        </ul>
        {{ end }} {{ $.Scratch.Delete "count" }} {{ with .contact }}
        <ul class="contact-us">
            {{ with $.Site.Author.email }}
            <li>
                <a target="_blank" href="mailto:{{ . }}">
 {{ $icon := resources.Get "image/line-awesome/fa-envelope.svg" | resources.Minify }} {{ replace $icon.Content "<svg " "<svg width=\"30px\" "  | safeHTML }}
                    {{$middle := replaceRE "^.*@" "" .}}
                    <span>{{replaceRE "@.*$" "" .}} [at] {{ replaceRE "\\..*" "" $middle }} [dot] {{ replaceRE "^.*\\." "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.linkedin }}
            <li>
                <a target="_blank" href="{{ . }}">
                    {{ $icon := resources.Get "image/line-awesome/fa-linkedin.svg" | resources.Minify }}
                    {{ replace $icon.Content "<svg " "<svg width=\"30px\" " | safeHTML }}
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.github }}
            <li>
                <a target="_blank" href="{{ . }}">
                    {{ $icon := resources.Get "image/line-awesome/fa-github.svg" | resources.Minify }}
                    {{ replace $icon.Content "<svg " "<svg width=\"30px\" "  | safeHTML }}
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.twitter }}
            <li>
                <a target="_blank" href="{{ . }}">
                    {{ $icon := resources.Get "image/line-awesome/fa-twitter.svg" | resources.Minify }}
                    {{ replace $icon.Content "<svg " "<svg width=\"30px\" "  | safeHTML }}
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }} {{ with $.Site.Author.facebook }}
            <li>
                <a target="_blank" href="{{ . }}">
                    {{ $icon := resources.Get "image/line-awesome/fa-facebook.svg" | resources.Minify }}
                    {{ replace $icon.Content "<svg " "<svg width=\"30px\" " | safeHTML }}
                    <span>{{ replaceRE "https://" "" . }}</span>
                </a>
            </li>
            {{ end }}

        </ul>
        {{ end }}
    </section>
    {{ end }}
    </div>
    <section id="copyright">
        &copy; 2016 -
        <time class="now" datetime="{{ now }}">{{ dateFormat "2006" now}}</time>, {{.Site.Title}}. Last Updated -
<time datetime="{{ now.Format " 02 Jan 06 15:04 -0700 " }}">{{ dateFormat "Monday, Jan 2, 2006." now}}</time>
    </section>

</footer>
