<header role="navigation">
    {{/*
        Checkbox Hack for pure CSS Hamburger menu
        https://codepen.io/erikterwan/pen/EVzeRP

    */}}
    <input class="hamburger" role="button"  type="checkbox" aria-label="Menu Button" />
    <a class="icon" role="none" aria-hidden="true">
    {{ $hamburger := resources.Get "image/hamburger.svg" | resources.Minify }}
        {{ $hamburger.Content | safeHTML }}
    </a>
    {{/* End Checkbox hack code. Uses the parallel <ul as well> */}}
    <a role="button" class="logo" href="{{.Site.BaseURL}}">
        {{ $logoSVG := resources.Get "image/logo.svg" | resources.Minify }}
        <img src="{{$logoSVG.Permalink}}" alt="{{ .Site.Title }} Logo">
    </a>
    <ul role="menubar" class="top-menu">
{{ $currentPage := . }}
{{/* Finding the best category to pin the current page to. */}}
{{ $scratch := .Scratch }}
{{ $scratch.Set "fallback" "home" }}
{{ range .Site.Menus.top }}
{{ if or ($currentPage.HasMenuCurrent "top" .) ($currentPage.IsMenuCurrent "top" .) }}
{{$scratch.Set "fallback" .Name}}
{{else if eq $currentPage.Section .Name}}
{{$scratch.Set "fallback" .Name}}
{{end}}
{{ end}}
{{/* Current Category is now found. We just need to fit inside it */}}
{{ range .Site.Menus.top }}
<li role="menuitem" class="top-menu-item {{ if eq ($scratch.Get "fallback") .Name }}active{{ end }}">
            <a href="{{.URL}}">{{ .Title | upper }}</a>
            {{ if .HasChildren }}
                <ul class="sub-menu" role="menu">
{{ range .Children }}
                <li class="{{ if $currentPage.IsMenuCurrent "top" . }}active{{ end }}">
                    <a href="{{ .URL }}">{{ .Title | upper }}</a>
                </li>
{{ end }}
                </ul>
            {{ end }}
        </li>
{{ end }}
    </ul>
    {{with .Site.Params.github }}
    <a href="{{.}}" role="link" class="github-corner" aria-label="View source on Github">
        {{ $iconSVG := resources.Get "image/octocat.svg" | resources.Minify }}
        {{ $iconSVG.Content | safeHTML }}
    </a>
    {{ end }}
</header>

