{{- range .Params.content -}}
<section class="meta">
    {{with .icon}}{{- partialCached "util/custom-icon" (dict "path" . "size" 50 "class" "main-icon") (print . "main-icon") -}}{{ end }}
    {{with .title}}<h1>{{. | markdownify}}</h1>{{ end }}
    {{with .subtitle}}<p class="subtitle">{{. | markdownify}}</p>{{ end }}
    {{with .items}}
        <div class="items-{{len .}}">
            {{- range . -}}
            <div class="item">
{{- with .icon -}}{{- partialCached "util/custom-icon" (dict "path" . "size" 40 "class" "item-icon") (print . "item-icon") -}}{{- end -}}
{{with .title}}<h2>{{. | markdownify}}</h2>{{ end }}
{{with .content}}<div class="content">{{. | markdownify}}</div>{{ end }}
            </div>
            {{- end -}}
        </div>
    {{end}}
</section>
{{- end -}}


<section class="meta">
    <h1>
        Atishay Jain
    </h1>
    <p class="subtitle">Thinker | Tinkerer | Inventor | Philomath | Programmer | Senior Computer Scientist @ Adobe</p>
    {{- with resources.Get "home/atishay.png" -}}
    {{ $cover := .Fill "400x500" }}
    <img width="200" height="250" alt="Atishay Jain" src="{{$cover.RelPermalink}}" />
    {{- end -}}
    <p>
        Self motivated individual striving for excellence with emphasis on experimentation, cleanliness, robustness and security in developing software applications. Part of many iconic software products from Photoshop and Illustrator to Adobe Capture. Creator of award winning augmented reality mobile apps from the IxDA Interaction Design award to the FWA App of the day. Full stack Web Development(Rails, Node.js, Angular, React), Native iOS, MacOS and Win32 - comfortable with any technology. Simple work mantra - "You define the problem. We search the solution." Available in the San Francisco Bay Area.
    </p>
</section>

<section class="meta">
    {{- $adobe := resources.Get "home/adobe.svg" | resources.Minify -}}
    {{- $adobe.Content | safeHTML -}}
    <h1>Experience</h1>
    <p class="subtitle">Senior Computer Scientist at Adobe Systems Incorporated</p>
    <div class="items-4">
        <div class="item">
            {{- $cc := resources.Get "home/cc.svg" | resources.Minify -}}
            {{- $cc.Content | safeHTML -}}
            <h2>CC Libraries</h2>
            <p>Part of the team that develops Adobe’s flagship sync solution for ingredients. Also play role in deciding the interchange formats of ingredients and methods for concept &amp; code re-use in multiple diverse platforms across Adobe’s Desktop, Web and Mobile properties.
            </p>
            <p>Spend considerable time understanding the diverse re-usable styles, their differences across the realms of design from videos to screen illustrations and print.
            </p>
            <span>
                <a href="http://www.adobe.com/creativecloud/libraries.html" class="button-small" target="_blank"><i
                        class="fa-link"></i>CC Libraries</a>
                <a href="https://www.youtube.com/watch?v=76A1i9o7g6U" class="button-small" target="_blank"><i class="fa-youtube"></i>Demo</a>
            </span>
        </div>
        <div class="item">
            {{- $shape := resources.Get "home/shape.svg" | resources.Minify -}}
            {{- $shape.Content | safeHTML -}}
            <h2>Adobe Shape</h2>
            <p>
                Only engineer who participated in creation of Adobe Shape from prototype to release (Adobe Max 2014) involved in the entire cycle of ideation, prototyping, validation, optimization and release. The app saw over a million downloads in less than a year before being merged into Adobe Capture.
            </p>
            <p>
                Spent considerable amount of time learning complexities around image segmentation, edge detection and augmented reality using OpenGL in mobile environments.
            </p>
            <span>
                <a href="http://www.adobe.com/products/capture.html" class="button-small" target="_blank"><i class="fa-external-link"></i>Capture
                    CC</a>
                <a href="https://www.youtube.com/watch?v=QIasMlptd7k" class="button-small" target="_blank"><i class="fa-youtube"></i>Demo</a>
            </span>
        </div>
        <div class="item">
            {{- $color := resources.Get "home/color.svg" | resources.Minify -}}
            {{- $color.Content | safeHTML -}}
            <h2>Adobe Color</h2>
            <p>
                Influential member of the small member team that resurrected Adobe Kuler (800k+ registered users) from maintenance mode to be a part of two consecutive Adobe Max keynotes (2011, 2013). Major contributor to the architecture and implementation of the full web stack, its deployment as well as the native iOS Adobe Kuler app (now Adobe Capture).
            </p>
            <p>
                Spent considerable time designing and migrating a running service with hundreds of thousands of daily visits to a completely different architecture from Coldfusion and Flash to HTML5 &amp; nodejs over AWS.
            </p>
            <span>
                <a href="https://color.adobe.com" class="button-small" target="_blank"><i class="fa-external-link"></i>Adobe
                    Color</a>
                <a href="https://www.youtube.com/watch?v=nuXG-MOL6-0" class="button-small" target="_blank"><i class="fa-youtube"></i>Demo</a>
            </span>
        </div>
        <div class="item">
            {{- $id := resources.Get "home/id.svg" | resources.Minify -}}
            {{- $id.Content | safeHTML -}}
            <h2>Adobe InDesign</h2>
            <p>
                Managed the Adobe Creative Suite SDK which powers HTML based extensions including the Adobe Digital Publishing Suite into Adobe InDesign. Went through the architectural migration of a complicated multi-gigabytes code-base from Carbon to Cocoa based MacOS architecture.
            </p>
            <p>
                Spent considerable time understanding the complex architecture of InDesign and Illustrator, learning the best practices of software development and maintenance.
            </p>
            <span>
                <a href="http://www.adobe.com/products/indesign.html" class="button-small" target="_blank"><i class="fa-external-link"></i>Adobe
                    InDesign</a>
                <a href="http://www.adobe.com/devnet/creativesuite.html" class="button-small" target="_blank"><i class="fa-external-link"></i>CS
                    SDK</a>
            </span>
        </div>
    </div>
</section>
