{{- range .Params.content -}}
<section class="meta{{with .type}} {{.}}{{end}}">
    {{with .icon}}{{- partialCached "util/icon" (dict "key" . "size" 50 "class" "main-icon") (print . "main-icon") -}}{{ end }}
    {{- with .image -}}
    {{$anchor := .anchor | default "" }}
    {{ $cover := (resources.Get .href).Fill (print (mul .width 2) "x" (mul .height 2) " " $anchor) }}
    <img width="{{.width}}" height="{{.height}}" alt="{{.alt}}" src="{{$cover.RelPermalink}}" />
    {{- end -}}
    {{with .title}}<h1>{{. | markdownify}}</h1>{{ end }}
    {{with .subtitle}}<p class="subtitle">{{. | markdownify}}</p>{{ end }}
    {{with .content}}<p>{{. | markdownify}}</p>{{ end }}
    {{with .items}}
        <div class="items items-{{len .}}">
            {{- range . -}}
            <div class="item">
{{- with .icon -}}
{{- partialCached "util/icon" (dict "key" . "size" 40 "class" "item-icon") (print . "item-icon") -}}
{{- end -}}

{{- with .image -}}
    {{$anchor := .anchor | default "" }}
    {{ $cover := (resources.Get .href).Fill (print (mul .width 2) "x" (mul .height 2) " " $anchor) }}
    <img class="item-cover" width="{{.width}}" height="{{.height}}" alt="{{.alt}}" src="{{$cover.RelPermalink}}" />
{{- end -}}

{{- with .title -}}
    <h2>{{. | markdownify }}</h2>
{{- end -}}

{{- with .subtitle -}}
    <h3>{{. | markdownify}}</h3>
{{- end -}}

{{- with .heading -}}
    <h4>{{. | markdownify}}</h4>
{{- end -}}

{{with .content}}
    <div class="content">{{. | markdownify}}</div>
{{ end }}

{{with .links}}
        <div class="links">
            {{- range . -}}
                <a href="{{.href}}" class="button-small" target="_blank">
                    {{- with .icon -}}
                    {{- partialCached "util/icon" (dict "key" . "size" 18 "class" "link-icon") (print . "link-icon") -}}
                    {{- end -}}
                    <span class="link-text">{{.title | markdownify}}</span>
                </a>
            {{- end -}}
        </div>
{{ end }}

{{with .attribution}}
<small class="attribution">{{. |markdownify}}</small>
{{end}}
            </div>
            {{- end -}}
        </div>
    {{end}}
</section>
{{- end -}}
