{{$site := .Site}}
{{- range .Params.content -}}
<section class="meta {{.type | default "default"}}">
    {{with .icon}}{{- partialCached "util/icon" (dict "key" . "size" 50 "class" "main-icon") (print . "main-icon") -}}{{ end }}
    {{- with .image -}}
    {{$anchor := .anchor | default "" }}
    {{ $cover := (resources.Get .href).Fill (print (mul .width 2) "x" (mul .height 2) " " $anchor) }}
    <img width="{{.width}}" height="{{.height}}" alt="{{.alt}}" src="{{$cover.RelPermalink}}" />
    {{- end -}}
    {{with .title}}<h1>{{. | markdownify}}</h1>{{ end }}
    {{with .subtitle}}<p class="subtitle">{{. | markdownify}}</p>{{ end }}
    {{with .content}}<p>{{. | markdownify}}</p>{{ end }}
    {{- if eq .type "blog" -}}
    <ul class="items items-{{.count | default 6}}">
        {{- range first (default .count 6) (where (where $site.Pages ".Section" .section) ".Kind" "page" ) -}}
        {{partialCached "util/post.html" . .RelPermalink}}
        {{- end -}}
    </ul>

    {{- end -}}
    {{with .items}}
        <div class="items items-{{len .}}">
            {{- range . -}}
            <div class="item">
{{- with .icon -}}
{{- partialCached "util/icon" (dict "key" . "size" 40 "class" "item-icon") (print . "item-icon") -}}
{{- end -}}
{{ $title := .title }}
{{- with .image -}}
    {{$anchor := .anchor | default "" }}
    {{ $cover := (resources.Get .href).Fill (print (mul .width 2) "x" (mul .height 2) " " $anchor) }}
    <img class="item-cover" width="{{.width}}" height="{{.height}}" alt="{{.alt | default $title}}" src="{{$cover.RelPermalink}}" />
{{- end -}}

{{- with .title -}}
    <h2>{{. | markdownify }}</h2>
{{- end -}}

{{- with .subtitle -}}
    <h3>{{. | markdownify}}</h3>
{{- end -}}

{{- with .heading -}}
    <h4>{{. | markdownify}}</h4>
{{- end -}}

{{with .content}}
    <div class="content">{{. | markdownify}}</div>
{{ end }}

{{with .attribution}}
<small class="attribution">{{. |markdownify}}</small>
{{end}}

{{with .links}}
        <div class="links">
            {{- range . -}}
                <a href="{{.href}}" class="button-small" target="_blank">
                    {{- with .icon -}}
                    {{- partialCached "util/icon" (dict "key" . "size" 18 "class" "link-icon") (print . "link-icon") -}}
                    {{- end -}}
                    <span class="link-text">{{.title | markdownify}}</span>
                </a>
            {{- end -}}
        </div>
{{ end }}
            </div>
            {{- end -}}
        </div>
    {{end}}
</section>
{{- end -}}
