{{ define "main" }}
<article class="list">
    <h1 class='title'>{{.Title}}</h1>
<span class='subtitle'>{{- .Content | plainify -}}</span>
<ul class="blog-posts">
    {{ range .Paginator.Pages }}
<li class="blog-post">
{{- with .Resources.GetMatch "cover.*" -}}
<div class="banner-holder">
    <img width="800" height="400" alt={{.Title}} role="banner" class="banner" src="{{(.Fill " 800x400 ").RelPermalink}}" />
</div>
{{end}}
    <a href="{{.RelPermalink}}">{{.Title}}</a>
    </li>
    {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
</article>
{{ end }}
