{{ define "main" }}
<img class="background" width="0" height="0" alt="Page Background" role="presentation" src="{{(resources.Get "image/desktop.jpg").RelPermalink}}" />
<article class="list">
    <h1 class='title'>{{.Title}}</h1>
<span class='subtitle'>{{- .Content | plainify -}}</span>
<ul class="blog-posts items-{{.Paginator.PageSize}}">
    {{ range .Paginator.Pages }}
{{- partialCached "util/post.html" . .RelPermalink -}}
    {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
</article>
{{ end }}
