{{ define "head" }}
<link rel="preload" href="/fonts/NouveauDropCaps.woff2" as="font" crossorigin>
{{ end }}

{{ define "main" }}
<img class="background" width="0" height="0" alt="Page Background" role="presentation" src="{{(resources.Get "image/desktop.jpg").RelPermalink}}" />
<div class="post">
<main>
<div class="post-anchor">
{{- partial "util/cover.html" (dict "class" "banner-holder" "page" . "width" 800 "height" 400) -}}
<h1>{{.Title}}</h1>
</div>
{{- .Content -}}
{{- with .Params.youtube -}}
<h2>Video</h2>
<p>Here is the video:
{{- partial "post/youtube.html" . -}}
</p>
{{- end -}}
</main>
{{- partial "post/sidebar.html" . -}}
<section class="buttons">
<a class="button previous {{if not .PrevInSection}} disabled{{end}}" href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">Older</a>
<a class="button next {{if not .NextInSection}} disabled{{end}}" href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">Newer</a>
</section>
{{- partial "post/similar.html" . -}}
{{- partial "post/comments.html" . -}}
</div>
{{- end -}}
