{{ define "head" }}
<link rel="preload" href="/fonts/NouveauDropCaps.woff2" as="font">
{{ end }}

{{ define "main" }}
<img class="background" width="0" height="0" alt="Page Background" role="none" src="{{(resources.Get "image/desktop.jpg").RelPermalink}}" alt="Background Image" />
<section class="post">
<main>
<div class="post-anchor">
{{- with .Resources.GetMatch "cover.*" -}}
<img width="800" height="500" alt={{.Title}} role="banner" class="banner" src="{{(.Fill " 800x500 ").RelPermalink}}" />
{{end}}
<h1>{{.Title}}</h1>
</div>
{{- .Content -}}
</main>
<aside>

</aside>
</section>
{{- end -}}
