 {{ $related := .Site.RegularPages.RelatedIndices . "tags" "date" "categories" | first 3 }}
  {{ with $related }}
<section class="more">
  <h2>You may also enjoy</h2>
  <ul class="items-{{len $related}}">
 {{ range . }}
<li>
    <a href="{{.RelPermalink}}">
      {{- partial "util/cover.html" (dict "class" "img-container" "page" . "width" 400 "height" 300) -}}
    </a>
  <a class="description" href="{{ .RelPermalink }}">{{ .Title }}<br><small>{{ $icon := resources.Get "image/line-awesome/fa-hourglass-1.svg" | resources.Minify }}{{ replace $icon.Content "<svg" "<svg width=\"16px\"" | safeHTML }}{{.ReadingTime}} minutes</small></svg></a>
</li>
{{ end }}
</ul>
</section>
{{ end }}
