.contact-cover {
    width: 100%;
    padding-bottom: 300/1440 * 100%;

    img {
        position: fixed;
        object-fit: cover;
        width: 100vw;
        object-position: 50% 0%;
    }
}

.contact {
    background: white;
    z-index: 1;
    @include container;

    &>section {
        display: grid;
        grid-template-columns: 1fr;

        @include media(">=md") {
            grid-template-columns: 4fr 6fr;
        }

        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    aside {
        svg {
            width: 32px;
            height: 32px;
            vertical-align: middle;
            fill: #fff;
            background: var(--theme-color);
            border-radius: 4px;
            margin: 4px 10px 4px 0;
            padding: 3px;
        }
        ul {
            padding: 0;
        }

        li {
            list-style: none;
            text-align: left;
            a {
                color: $text-color;
                &:hover {
                    color: var(--theme-color);
                }
            }
        }
        .social {
            a {
                font-size: 0;
            }
            li {
                display: inline-block;
            }
            svg {
                border-radius: 50%;
                padding: 7px;
                width: 40px;
                height: 40px;
            }
        }
    }


    form {
        padding: 20px 0;
        input, textarea {
            width: 100%;
            margin: 10px 0;
        }
    }
}
