footer {
    $footer-color: #7C7C7C;
    background: #282828;
    color : $footer-color;
    &>* {
        @include container;
            padding-top: 30px;
            padding-bottom: 30px;
    }
    h2 {
        color: #CCC;
    }
    p, li {
        color: $footer-color;
        &:hover {
            color: $footer-color;
            text-shadow: none;
        }
    }
    #copyright {
        text-align: center;
        background: #1D1D1D;
    }
    h2 {
        text-align: center;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        text-align: left;
    }
    .contact-us svg {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        fill: #fff;
        background: rgba(var(--theme-color), 1.0);
        border-radius: 4px;
        margin: 4px 10px 4px 0;
        padding: 3px;
    }
}

.scrollUp {
    position: fixed;
    display: block;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    right: 25px;
    bottom: 28px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    svg {
        background-color: rgba(var(--theme-color), 1.0);
        padding: 5px;
        fill: white;
    }
    &.hidden {
        opacity: 0;
    }
}

.no-js .scrollUp {
    opacity: 0;
}
