footer {
    $footer-color: #7C7C7C;
    background: #282828;
    color : $footer-color;
    &>* {
        @include container;
            padding-top: 30px;
            padding-bottom: 30px;
    }
    h2 {
        color: #CCC;
    }
    p, li {
        color: $footer-color;
        &:hover {
            color: $footer-color;
            text-shadow: none;
        }
    }
    #copyright {
        text-align: center;
        background: #1D1D1D;
    }
    h2 {
        text-align: center;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}
