footer {
    $footer-color: #7C7C7C;
    @include container;
    background: #282828;
    color : $footer-color;

    h2 {
        color: #CCC;
    }
    p, li {
        color: $footer-color;
        &:hover {
            color: $footer-color;
            text-shadow: none;
        }
    }

}
