* {
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #444;
}

