/**
 * Specific types for page type simple and list.
 **/
.list, .simple {
    margin: calc(var(--header-height)/2);
    @include container-margin;
    padding: calc(2*var(--content-padding));
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;

    // box-shadow: 0 0 2px #aaa;
    &:hover {
        background: white;
    }
    flex: 1; // Stretch to fill space if needed.
    .title {
        text-align: center;
        color: #222;
    }

    .subtitle {
        display: block;
        text-align: center;
        padding-bottom: 30px;
        font-style: italic;
        text-shadow: 1px 1px 3px white;
    }
}

.list {
    background: transparent;
    &:hover {
        background: transparent;
    }
}

.blog-posts {
    width: 100%;
    align-content: center;
}

.blog-post {
    list-style: none;
    text-align: left;
    padding: 15px;
    @include zoomable-image(".banner-holder", (270/360) * 100%);
    background: #fff;
    box-shadow: 0 1px 1px #ddd;
    display: flex;
    flex-direction: column;
    &:hover {
        box-shadow: 0 0 40px #ddd;
    }
    hr {
        border: none;
        border-bottom: 1px dashed #ddd;
    }
    h3:hover {
        color: var(--theme-color);
    }
    p {
        flex: 1;
    }
    .blog-post-footer {
        display: flex;
        a {
            font-size: 12px;
            padding-right: 15px;
            color: #999;
            &:hover {
                color: var(--theme-color);
            }
        }
        .categories {
            svg {
                fill: var(--theme-color);
                vertical-align: middle;
            }
            text-align: right;
            flex: 1;
        }
    }
}

.pagination {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 40px 0 0;
    .page-link {
        text-decoration: none;
        background-color: #fff;
        box-shadow: 0 1px 1px $divider;
        &:hover {
            filter: none;
            box-shadow: 0 0 40px $divider;
            background: var(--theme-color);
            color: #fff;
        }
        padding: 10px;
        margin: 10px;
    }
    .active .page-link {
        background: var(--theme-color);
        color: #fff;
        pointer-events: none;
    }
    .disabled .page-link {
        background: #ddd;
        color: #fff;
        pointer-events: none;
    }
}
