@import "variables.scss";

///////////////////////////////////////////////////////
// Shared
//////////////////////////////////////////////////////

.meta:nth-child(2n) {
    background: $shade;
}
.meta {
    & > :last-child {
        margin-bottom: 40px;
    }
    & > :first-child, & > h1 {
        margin-top: 40px;
    }
    @include container;
    h1, h2, h3, h4 {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    .main-icon {
        float: right;
        margin: 60px 0 40px;
    }
    .item {
        display: flex;
        flex-direction: column;
        padding: 10px 0 0;
        .item-cover {
            align-self: center;
            border-radius: 5px;
            background-color: var(--theme-color);
        }
        h2 {
            padding: 8px 0;
            margin: 0;
            color: $text-color;
        }
        h3 {
            margin: 0;
            padding: 5px 0;
            color: $text-color;
        }
        h4 {
            margin: 0;
            padding: 3px 0;
            color: $text-color;
        }
        .item-icon {
            align-self: center;
            min-height: 65px;
        }

        .links {
            align-self: flex-end;
            flex: 1;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            a {
                display: flex;
                align-items: center;
                min-height: 45px;
                svg, .link-text {
                    margin: 0 5px;
                    transition: none;
                }
            }

            a:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}




//////////////////////////////////////////////////////
// Intro and about me area with image on the left.
//////////////////////////////////////////////////////
.left-image {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-areas:
    "pic title"
    "pic subtitle"
    "pic desc";
    img {
        margin: 40px 0;
        grid-area: pic;
        border: 1px solid $divider;
        background: $divider;
        // OR filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, 0.3));
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    p {
        grid-area: desc;
    }
    h1 {
        margin: 40px 0 0;
        grid-area: title;
    }
    .subtitle {
        grid-area: subtitle;
    }
    @include media("<=xl") {
        grid-template-columns: 1.5fr 3fr;
    }
    @include media(">lg") {
        h1, .subtitle {
            padding: 0;
            margin: 0;
        }
        h1 {
            margin-top: 40px;
        }
    }
    @include media("<=lg") {
        display: block;
        * {
            margin: 20px 0;
        }
        img {
        margin: 0 20px 0 0;
        width: 33%;
        max-width: 200px;
        float:left;
        }
    }
}

//////////////////////////////////////////
// Area with content icon on the left
//////////////////////////////////////////

.item-icon-left {
    .item {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-column-gap: 20px;
        grid-template-areas: "icon title"
            "icon subtitle"
            "icon heading"
            "icon desc"
            "icon links";
        .item-icon {
            grid-area: icon;
            align-self: flex-start;
            min-height: 40px;
        }
        h2 {
            grid-area: title;
        }
        h3 {
            grid-area: subtitle;
        }
        h4 {
            grid-area: heading;
        }
        .content {
            grid-area: desc;
        }
        .links {
            grid-area: links;
        }
    }
}

//////////////////////////////////////////
// Full Width for bigger content
//////////////////////////////////////////

.meta.full-width {
    padding: 0;
    .items {
        display: block;
        .item {
            padding: 40px 0;
            @include container;
            display: block;
            .item-cover {
                float: left;
                margin: 0 40px 40px 0;
            }
            &:nth-child(2n) {
                background: $shade;
                .item-cover {
                    float: right;
                    margin: 0 0 40px 40px;
                }
                .links {
                    align-self: flex-start;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }
            &:after {
                content: " ";
                clear:both;
                display: block;
            }
            .content {
                padding: 20px 0;
            }
        }
    }
    &:nth-child(2n) {
        .item:nth-child(2n) {
            background: white;
        }
    }
    @include media("<=md") {
        .items .item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "title"
            "subtitle"
            "image"
            "content"
            "links"
            "attribution";
            h2 {
                grid-area: title;
            }
            h3 {
                grid-area: subtitle;
            }

            .links {
                grid-area: links;
                &:nth-child(2n) {
                    align-self: flex-end;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
            }
            .attribution {
                grid-area: attribution;
            }
            .item-cover {
                grid-area: image;
                align-self: center;
                justify-self: center;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 10px;

            }

            .content {
                grid-area: content;
            }
        }
    }
}
