@import "triangle.scss";

@mixin post-header ($height) {
    $left-detach: 12px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $height/3;
    bottom: $height/3 + 20px;
    // box-shadow: 2px 0px 10px #000;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 1));

    text-shadow: 0 1px 2px #000;
    font-size: $height/3;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }

    height: $height;
    background: var(--theme-color);
    color: #fff;
    left: -$left-detach;
    &:before {
        @include triangle($left-detach, #000, down-right);
        top: -$left-detach;
        left: 0;
    }

    &:after {
        @include triangle($height ($height/3), var(--theme-color), right);
        right: ceil(-$height/3);
        top: 0;
    }
}

.post {
    margin: calc(var(--header-height)/2);
    @include container-margin;
    padding: calc(2*var(--content-padding));
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    // box-shadow: 0 0 2px #aaa;
    &:hover {
        background: white;
    }
    @include media('>=lg') {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "main aside"
            "buttons aside"
            "more aside"
            "comments aside";
        main {
            grid-area: main;
        }
        aside {
            grid-area: aside;
        }
        .buttons {
            grid-area: buttons;
        }
        .more {
            grid-area: more;
        }
        .comments {
            grid-area: comments;
        }
    }
    main {
        &>p {
            font-size: 16px;
            line-height: 30px;
            &:first-of-type:first-letter {
                color: var(--theme-color); //#992E00;
                margin-top: 7px;
                margin-right: 5px;
                float: left;
                font-size: 80px;
                line-height: 80px;
                font-family: NouveauDropCaps, serif;
            }
        }
        &>ul>li {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .post-anchor {
        position: relative;
        margin: 0 0 40px;
        border-radius: 5px;
        width: 100%;
        padding-bottom: 400/800 * 100%;
        .banner-holder {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &:hover .banner-holder img {
            transform: scale(1.1);
        }
        h1 {
            @include media('>=xs') {
                @include post-header(60px);
            }

            @include media('>=lg') {
                @include post-header(80px);
            }

            @include media('>=xl') {
                @include post-header(100px);
            }
        }
        h1::selection {
            text-shadow: 0 1px 2px #000;
        }
    }
    aside {
        @include media(">=lg") {
            padding: 0 calc(2*var(--content-padding));
        }
        line-height: 30px;
        * {
            text-align: left;
        }
        th {
            padding: 0 12px 0 0;
            svg {
                vertical-align: middle;
                margin: 0 5px 0 0;
            }
            white-space: nowrap;
            @include media("<xl", ">=lg") {
                font-size: 0;
            }
            @include media("<md", ">=sm") {
                font-size: 0;
            }
        }
        h2 {
            margin: 0 0 8px;
        }
        section {
            padding: 20px 0;
            border-bottom: 1px dashed #ddd;
            .info {
                font-size: 10px;
                float: right;
            }
        }
        @include media('<lg', '>=sm') {
            columns: 2;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            section {
                border-bottom: none;
            }
        }
        @include media('<sm') {
            border-top: 1px dashed #ddd;
        }
        .tag-cloud {
            line-height: 2.0rem;
        }
        .tag-cloud>a {
            white-space: nowrap;
            color: $text-color;
            padding: 2px;
            border-radius: 2px;
            &:hover {
                color: var(--theme-color);
                text-decoration: underline;
            }
        }
    }
    .buttons {
        margin: 20px 0;
    }
    .next {
        float: right;
    }

    .comments {
        ul {
            padding: 0;
        }
        li {
            list-style: none;
        }
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            @include media(">=sm") {
                grid-template-areas:
                    "input1 input2"
                    "comment comment"
                    "button .";
            }
            @include media("<sm") {
                grid-template-areas: "input1 input1" "input2 input2" "comment comment" "button button";
            }
        }
        input:first-child {
            grid-area: input1;
        }
        input:nth-child(2) {
            grid-area: input2;
        }
        textarea {
            grid-area: comment;
        }
        button {
            grid-area: button;
            justify-self: flex-start;
        }
    }
}

@font-face {
    font-family: "NouveauDropCaps";
    src: url(/fonts/NouveauDropCaps.woff2) format("woff2");
    unicode-range: U+41-5A;
}

.comment {
    min-height: 120px;
    img {
        margin: 5px 20px 0 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid $divider;
        float: left;
    }
    svg {
        fill: $text-color;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }
    time {
        font-size: 12px;
    }
}
.commenter-comment {
    background: rgba(var(--theme-color-rgb), 0.1);
    margin-left: 120px;
    min-height: 80px;
    padding: 10px 20px;
    border-radius: 5px;
}

.commenter-name {
    font-weight: 400;
    padding: 0 20px 0 0;
}

.background {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.more {
    ul.items-3 {
        @include media(">=md") {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .img-container {
            width: 100%;
            position: relative;
            padding-bottom: (3/4) * 100%;
            overflow: hidden;
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }

        li {
            &:hover img {
                transform: scale(1.1);
            }
            border-radius: 4px;
            overflow: hidden;
            list-style: none;
            &>.description {
                font-weight: 400;
                padding: 10px 10px;
                display: block;
                border: 1px solid $divider;
                border-top-width: 0;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                text-align: left;
            }
        }
        svg {
            vertical-align: middle;
            fill: $text-color;
        }
        small {
            color: $text-color;
        }
}
