@import "triangle.scss";

@mixin post-header ($height) {
    $left-detach: 12px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $height/3;
    bottom: $height/3 + 20px;
    // box-shadow: 2px 0px 10px #000;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 1));

    text-shadow: 0 1px 2px #000;
    font-size: $height/3;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }

    height: $height;
    background: var(--theme-color);
    color: #fff;
    left: -$left-detach;
    &:before {
        @include triangle($left-detach, #000, down-right);
        top: -$left-detach;
        left: 0;
    }

    &:after {
        @include triangle($height ($height/3), var(--theme-color), right);
        right: -($height/3);
        top: 0;
    }
}

.post {
    margin: calc(var(--header-height)/2);
    @include container-margin;
    padding: calc(2*var(--content-padding));
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    // box-shadow: 0 0 2px #aaa;
    &:hover {
        background: white;
    }
    @include media('>=lg') {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    main {
        &>p {
            font-size: 16px;
            line-height: 30px;
            &:not(:first-of-type) {
                text-indent: 30px;
            }
            &:first-of-type:first-letter {
                color: var(--theme-color); //#992E00;
                margin-top: 7px;
                margin-right: 5px;
                float: left;
                font-size: 80px;
                line-height: 80px;
                font-family: NouveauDropCaps, serif;
            }
        }
    }
    .post-anchor {
        position: relative;
        margin: 0 0 40px;
        border-radius: 5px;
        width: 100%;
        padding-bottom: 400/800 * 100%;
        .banner {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
        .banner-holder {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        &:hover .banner {
            transform: scale(1.1);
        }
        h1 {
            @include media('>=xs') {
                @include post-header(60px);
            }

            @include media('>=lg') {
                @include post-header(80px);
            }

            @include media('>=xl') {
                @include post-header(100px);
            }
        }
        h1::selection {
            text-shadow: 0 1px 2px #000;
        }
    }
    aside {
        padding: 0 calc(2*var(--content-padding));
        line-height: 30px;
        * {
            text-align: left;
        }
        th {
            padding: 0 12px 0 0;
            svg {
                vertical-align: middle;
                margin: 0 5px 0 0;
            }
            white-space: nowrap;
            @include media("<xl", ">=lg") {
                font-size: 0;
            }
            @include media("<md", ">=sm") {
                font-size: 0;
            }
        }
        h2 {
            margin: 0 0 8px;
        }
        section {
            padding: 20px 0;
            border-bottom: 1px dashed #ddd;
            .info {
                font-size: 10px;
                float: right;
            }
        }
        @include media('<lg', '>=sm') {
            columns: 2;
            border-top: 1px solid #ddd;
            section {
                border-bottom: none;
            }
        }
        .tag-cloud {
            line-height: 2.0rem;
        }
        .tag-cloud>a {
            white-space: nowrap;
            color: #666;
            padding: 2px;
            border-radius: 2px;
            &:hover {
                color: var(--theme-color);
                text-decoration: underline;
            }
        }
    }
}

@font-face {
    font-family: "NouveauDropCaps";
    src: url(/fonts/NouveauDropCaps.woff2) format("woff2");
    unicode-range: U+41-5A;
}

// On the header hidden state, there is no header on the top
// So we can go all the way.
// @include media(">=md") {
//     #post-anchor {
//         margin-top: calc(-1 * var(--header-height));
//         padding-bottom: var(--header-height);
//     }
// }

.background {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
