@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (xs: 320px, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$divider: #e4e4e4;
$text-color: #666;
$shade: #F6F6F6;
:root {
    --max-width: 100%;
    --header-height: 60px;
    --theme-color-rgb: 0, 211, 249;
    --theme-color: rgba(var(--theme-color-rgb), 1.0);
    --content-padding: 15px;
}

@mixin zoomable-image($selector, $height) {
    #{$selector} {
        width: 100%;
        position: relative;
        padding-bottom: $height;
        overflow: hidden;

        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transition: transform 0.2s linear;
        }
    }

    &:hover #{$selector} img {
        transform: scale(1.1);
    }
}

@include media(">=sm") {
    :root {
        --max-width: 540px;
    }
}

@include media(">=md") {
    :root {
        --max-width: 720px;
    }
}

@include media(">=lg") {
    :root {
        --header-height: 75px;
        --max-width: 960px;
    }
}

@include media(">=xl") {
    :root {
        --max-width: 1140px;
    }
}

@mixin container {
    $padding: calc( (100% - var(--max-width)) /2 + var(--content-padding));
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
}

@mixin container-margin {
    $margin: calc((100% - var(--max-width))/2);
    width: 100%;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    margin-left: $margin;
    margin-right: $margin;
    max-width: var(--max-width);
}
