@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (xs: 320px, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$divider: #e4e4e4;
$text-color: #666;
:root {
    --max-width: 100%;
    --header-height: 60px;
    --theme-color-rgb: 0, 211, 249;
    --theme-color: rgba(var(--theme-color-rgb), 1.0);
    --content-padding: 15px;
}

@include media(">=sm") {
    :root {
        --max-width: 540px;
    }
}

@include media(">=md") {
    :root {
        --max-width: 720px;
    }
}

@include media(">=lg") {
    :root {
        --header-height: 75px;
        --max-width: 960px;
    }
}

@include media(">=xl") {
    :root {
        --max-width: 1140px;
    }
}

@mixin container {
    $padding: calc( (100% - var(--max-width)) /2 + var(--content-padding));
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
}

@mixin container-margin {
    $margin: calc((100% - var(--max-width))/2);
    width: 100%;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    margin-left: $margin;
    margin-right: $margin;
    max-width: var(--max-width);
}

.items-7 {
    display: grid;
    grid-template-columns: 1fr;
    @include media(">=md") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "one one two two" "three three four four" "five five six six" ". seven seven .";
    }
    @include media(">=lg") {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "one two three" "four five six" ". seven .";
    }
    @include media(">=xl") {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "one one one one two two two two three three three three"
        "four four four five five five six six six seven seven seven";
    }

    @include media(">=md") {
        &>*:nth-child(1) {
            grid-area: one;
        }
        &>*:nth-child(2) {
            grid-area: two;
        }
        &>*:nth-child(3) {
            grid-area: three;
        }
        &>*:nth-child(4) {
            grid-area: four;
        }
        &>*:nth-child(5) {
            grid-area: five;
        }
        &>*:nth-child(6) {
            grid-area: six;
        }
        &>*:nth-child(7) {
            grid-area: seven;
        }
    }
    grid-column-gap: 20px;
}

.items-5 {
    display: grid;
    grid-template-columns: 1fr;

    @include media(">=md") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "one one two two" "three three four four" ". five five .";
    }
    @include media(">=lg") {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas :
          "one one one two two two"
          "three three four four five five";
    }
    grid-column-gap: 20px;
    @include media(">=md") {
        &>*:nth-child(1) {
            grid-area: one;
        }

        &>*:nth-child(2) {
            grid-area: two;
        }

        &>*:nth-child(3) {
            grid-area: three;
        }

        &>*:nth-child(4) {
            grid-area: four;
        }

        &>*:nth-child(5) {
            grid-area: five;
        }
    }
}

.items-4, .items-8 {
    display: grid;
    grid-template-columns: 1fr;
    @include media(">=md") {
        grid-template-columns: 1fr 1fr;
    }
    @include media(">=xl") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    grid-column-gap: 20px;
}

.items-3, .items-6, .items-9 {
    display: grid;
    grid-template-columns: 1fr;
    @include media(">=lg") {
        grid-template-columns: 1fr 1fr 1fr;
    }
    grid-column-gap: 20px;
}

.items-6 {
    @include media(">=md") {
        grid-template-columns: 1fr 1fr;
    }
}

.items-2 {
    display: grid;
    grid-template-columns: 1fr;
    @include media(">=md") {
        grid-template-columns: 1fr 1fr;
    }
    grid-column-gap: 20px;
}

.itmes-1 {
    display: block;
}
