.plyr {
    border-radius: 8px;
}

.post {
    -webkit-animation: fadeInUpPost 1.5s;
    -moz-animation: fadeInUpPost 1.5s;
    -ms-animation: fadeInUpPost 1.5s;
    -o-animation: fadeInUpPost 1.5s;
    animation: fadeInUpPost 1.5s;
}

@-webkit-keyframes fadeInUpPost {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUpPost {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    50% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.plyr__video-embed iframe {
    border: 0;
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100% !important;
}
