{{- define "head" -}}
    {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $main := resources.Get "scss/home.scss" | toCSS $options }}
    {{ $css := $main | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{$css.Permalink}}" integrity="{{$css.Data.Integrity}}" />
{{- end -}}
{{ define "main" }}
<section class="intro">
    <h2>
        Atishay Jain
    </h2>
    <h3>Thinker | Tinkerer | Inventor | Philomath | Programmer | Senior Computer Scientist @ Adobe</h3>
    {{- with resources.Get "home/atishay.png" -}}
        {{ $cover := .Fill "400x500" }}
        <img width="400" height="500" alt="Atishay Jain" src="{{$cover.RelPermalink}}" />
    {{- end -}}
    <p>
        Self motivated individual striving for excellence with emphasis on experimentation, cleanliness, robustness and security in developing software applications. Part of many iconic software products from Photoshop and Illustrator to Adobe Capture. Creator of award winning augmented reality mobile apps from the IxDA Interaction Design award to the FWA App of the day. Full stack Web Development(Rails, Node.js, Angular, React), Native iOS, MacOS and Win32 - comfortable with any technology. "You define the problem. We search the solution." Available in the San Francisco Bay Area.<br><br>
        Welcome to my website
    </p>
</section>
{{ end }}
