---
layout: base
---
  <!-- Google Map Shortcode -->
  <section class="google-map-section-shotcode">
    <div id="google-map-contact">
      <div style="overflow:hidden;width:1920px;max-height:400px;resize:none;max-width:100%;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d404343.148378296!2d-122.22851568773115!3d37.65082980562923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1482156804655"></iframe></div>
    </div>
  </section>
  <!-- End -->

  <!-- Contact Section -->
  <section class="contact-form-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-50 text-xs-center contact-title-text wow fadeIn" data-wow-delay="0.3s">
          <h2>Contact Me</h2>
          <p>I am very open to suggestions, feedback and opportunities. If you find anything factually incorrect, copyright violation, or any other issue with the website, I would be happy to sort it out. </p>
        </div>
        <div class="col-md-4 contact-info-section">
          <div class="contact-widget office-location wow slideInLeft" data-wow-delay="0.4s">
            <h2>Location</h2>
            <address>
              <i class="fa fa-map-marker icon-box icon-xs"></i>San Francisco Bay Area, California<br>
              <i class="fa fa-phone icon-box icon-xs"></i> On request<br>
              <i class="fa fa-envelope icon-box icon-xs"></i>contact [at] atishay [dot] me
            </address>
          </div>
          <div class="contact-widget office-location wow slideInLeft" data-wow-delay="0.4s">
            <h2>Contact Hours</h2>
            <address>
              <p><i class="fa fa-clock-o icon-box icon-xs"></i> <span>Mon - Fri:</span> 9.00 AM - 6.00 PM, PST/PDT</p>
            </address>
          </div>
          <div class="contact-widget social-contact wow slideInLeft" data-wow-delay="0.4s">
            <h2>Social Links</h2>
            <a href="http://facebook.com/atishay811" target="_blank"><i class="fa fa-facebook icon-round icon-xs"></i></a>
            <a href="http://www.linkedin.com/in/atishay" target="_blank"><i class="fa fa-linkedin icon-round icon-xs"></i></a>
            <a href="http://github.com/atishay" target="_blank"><i class="fa fa-github icon-round icon-xs"></i></a>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1 contact-form contact-info-section">
          <form class="shake" role="form" method="post" id="contactForm" name="contact-form" action="https://docs.google.com/forms/d/e/1FAIpQLSfmhy33Qdqwwi8nqDOxJMdCyRh6Z3CWhwE9Iosa7UKO8wNt6A/formResponse?embedded=true" data-toggle="validator">
            <div class="form-group wow slideInRight" data-wow-delay="0.3s">
              <label for="name" class="sr-only">Name</label>
              <input type="text" placeholder="Your Name" id="name" class="form-control contact-control" name="entry.830764464" required data-error="Please enter your name" autocomplete="off">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group wow slideInRight" data-wow-delay="0.4s">
              <label for="email" class="sr-only">Email</label>
              <input type="email" placeholder="Your Email" id="email" class="form-control contact-control" name="emailAddress" autocomplete="email" required data-error="Please enter your Email">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group wow slideInRight" data-wow-delay="0.5s">
              <label for="subject" class="sr-only">Subject</label>
              <input type="text" placeholder="Your Subject" id="msg_subject" class="form-control contact-control" name="entry.1998641301" required data-error="Please enter your message subject">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group wow slideInRight" data-wow-delay="0.6s">
              <label for="message" class="sr-only">Message</label>
              <textarea placeholder="Your Message" rows="7" id="message" class="form-control" name="entry.1809318382" required data-error="Write your message"></textarea>
              <div class="help-block with-errors"></div>
            </div>

            <button class="btn btn-common btn-lg wow bounceInUp" data-wow-delay="0.8s" type="submit" id="form-submit"><i class="fa fa-envelope"></i> Submit</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section End -->
