---
layout: base
---
    <!-- Classic Blog Section -->
    <section class="classic-blog-section section-padding">
      <div class="container">
        <div class="row">
          <!-- BLog Article Section -->
          <div class="post col-md-9">
            <!-- Single Blog Post -->
            <article class="blog-post-wrapper">
              <!-- Author Info -->
              <header class="author-info">
                <div class="author-posted">
                  <div class="media">
                    <div class="media-left">
                      <img class="blog-author-image img-circle img-responsive" src="{{ "/assets/img/blog/avatar.jpg" | relative_url }}?{{site.time | date: '%s%N'}}" alt="Atishay Jain">
                    </div>
                    <div class="media-body">
                      <span class="author-name"><a href="/"><b>Atishay Jain</b></a></span><br>
                      <span class="published-time"><i class="fa fa-calendar"></i> <span class="moment">{{ page.date | date_to_xmlschema}}</span></span>
                    </div>
                  </div>
                </div>
              </header>
              <!-- Featured Content -->
              <section class="featured-wrapper">
                  <div style="background-image: url({{page.image | escape}}?{{site.time | date: '%s%N'}});"></div>
              </section>
              <!-- Post Content -->
              <section class="blog-post-content" id="post">
                <div>
                  <h2 class="blog-post-title"><a href="#post">{{page.title}}</a></h2>
                </div>
                <div class="blog-post clearfix">
                    {{ content }}
                    {% if page.youtube %}
                    <h3 id="video">Video</h3>
                    <p>Here is the video:</p>
                    <div class="video-container">
                      <div class="videoPlayer plyr__video-embed">
                        <iframe src="https://www.youtube.com/embed/{{page.youtube}}?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                          allowfullscreen="" allowtransparency="" allow="autoplay"></iframe>
                      </div>
                    </div>
                    {% endif %}
                </div>
                {% if page.tags %}
                <div class="tag-posted-in text-xs-right">
                  <ul class="list-unstyled">
                  {% for tag in page.tags %}
                    <li><i class="fa fa-tag"></i> <a href="/tag/{{tag|slugify}}">{{ tag | replace:'-', ' ' | capitalize }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </section>
            </article>
            <div class="portfolio-controls clearfix mb-30">
               <nav>
                  <ul>
                    <li class="pull-left wow slideInLeft" data-wow-delay="0.3s"><a class="btn btn-outline btn-md{% unless page.previous %} disabled {% endunless %}" href="{{page.previous.url}}"><i class="fa fa-angle-left"></i></a></li>
                    <li class="pull-right wow slideInRight" data-wow-delay="0.3s"><a class="btn btn-outline btn-md{% unless page.next %} disabled {% endunless %}" href="{{page.next.url}}"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </nav>
            </div>
            <!-- Similar post widget -->
            <div class="similar-post mt-30 clearfix">
              <h3 class="small-title mb-40 wow fadeIn" data-wow-delay="0.3s">You my also enjoy</h3>
              {% assign maxRelated = 4 %}
              {% assign minCommonTags = 1 %}
              {% assign maxRelatedCounter = 0 %}
              {% assign pending = 0  %}
              {% if page.related %}
                {% assign pending = page.related | size %}
                {% assign maxRelatedCounter = page.related | size %}
              {% endif %}
              {% for post in site.posts %}
                {% assign sameTagCount = 0 %}
                {% assign commonTags = '' %}
                {% for tag in post.tags %}
                  {% if post.url != page.url %}
                    {% if page.tags contains tag %}
                      {% assign sameTagCount = sameTagCount | plus: 1 %}
                      {% capture tagmarkup %}
                      <span class="label label-default">{{ tag }}</span>
                      {% endcapture %}
                      {% assign commonTags = commonTags | append: tagmarkup %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                {% comment %} <h1>{{ post.identifier }}</h1> {% endcomment %}
                {% if sameTagCount >= minCommonTags or page.related contains post.identifier %}
                  {% if maxRelatedCounter < maxRelated or page.related contains post.identifier %}
                  <div class="col-md-3 no-pdl wow fadeIn" data-wow-delay="0.4s">
                    <div class="blog-item-img">
                      <a href="{{ site.baseurl }}{{ post.url }}">
                        <img src="{{ site.baseurl }}{{post.image | escape}}?{{site.time | date: '%s%N'}}" alt="{{ post.title }}" class="img-responsive">
                      </a>
                    </div>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <h2>{{ post.title }}</h2>
                    </a>
                  </div>
                  {% endif %}
                  {% if page.related contains post.identifier %}
                    {% assign pending = pending | minus: 1 %}
                  {% else %}
                    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                  {% endif %}
                  {% if maxRelatedCounter >= maxRelated and pending <= 0 %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              </div>
            <!-- End similar post widget -->
            <div class="comments-area clearfix mt-50 wow fadeInUp" data-wow-delay="0.3s">
              <h3 class="small-title"><i class="fa fa-comment"></i> Comments</h3>
              <div id="disqus_thread" ></div>
            </div>
          </div>
          <!-- End -->

          <!-- Blog Sidebar Section -->
          <div class="col-md-3">
            <div class="sidebar-area">
              <!-- Text Widgets -->
              {% if page.sidebar %}
              {% assign split = page.sidebar | split: '#'%}
              <aside class="widget text-widgets wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">{{split[0]}}</h2>
                <p>{{ split[1] | markdownify}}</p>
              </aside>
              {% endif %}
              <aside class="widget text-widgets wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Request for Comments</h2><p>I doubt if any eyes would fall upon this piece of writing. But if you do, I welcome you to this place. Please do fill out comments so that I know that you were here. Analytics just finds bots nowadays and the way it is going, we might have just bots to talk to all around us in the future. A human touch in the comments section would be very inspirational.</p>
              </aside>
              <!-- Tag Cloud -->
              <aside class="widget tag-cloud wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Tag cloud</h2>
                <div class="clearfix">
                  <ul>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <li>
    <a href="/tag/{{ tag | first | slugify }}"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' | capitalize }}
    </a>
</li>
{% endfor %}
                </ul>
                </div>
              </aside>
              <!-- Cover Image attribution -->
               {% if page.imgSrc %}
                <aside class="widget wow fadeInUp" data-wow-delay="0.3s">
                  <h2 class="widget-title">Attribution</h2>
                  {{page.imgSrc | markdownify}}
                </aside>
               {% endif %}
              <aside class="widget text-widgets wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">License</h2>
                <p>The contents of this post are available under Creative Commons license. You are free to use them commercially given that you provide the right attribution. You can read more about the license at the
                  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons website.</a>
                </p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                  <img src="{{"/assets/img/blog/ccbysa.png" | relative_url }}?{{site.time | date: '%s%N'}}"></img>
                </a>
              </aside>
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </section>
    <!-- Classic Blog Section End -->
