---
layout: base
---
    <!-- Classic Blog Section -->
    <section class="classic-blog-section section-padding">
      <div class="container">
        <div class="row">
          <!-- BLog Article Section -->
          <div class="col-md-9 wow fadeInUp" data-wow-delay="0.3s">
            <!-- Single Blog Post -->
            <article class="blog-post-wrapper">
              <!-- Author Info -->
              <header class="author-info">
                <div class="author-posted">
                  <div class="media">
                    <div class="media-left">
                      <img class="blog-author-image img-circle img-responsive" src="{{ "/assets/img/blog/avatar.jpg" | relative_url }}" alt="Atishay Jain">
                    </div>
                    <div class="media-body">
                      <span class="author-name"><a href="#"><b>Atishay Jain</b></a></span><br>
                      <span class="published-time"><i class="fa fa-calendar"></i> <span class="moment">{{ page.date | date_to_xmlschema}}</span></span>
                    </div>
                  </div>
                </div>
              </header>
              <!-- Featured Content -->
              <section class="featured-wrapper">
                <a href="#">
                  <img src="/assets/img/blog/{{page.cover | escape}}"
                alt=" {% if page.coverTitle %} {{page.coverTitle | escape}} {% else %} {{page.title | escape}} {% endif %}">
                </a>
              </section>
              <!-- Post Content -->
              <section class="blog-post-content" id="post">
                <div>
                  <h2 class="blog-post-title"><a href="#post">{{page.title}}</a></h2>
                </div>
                <div class="blog-post clearfix">
                    {{ content }}
                </div>
                {% if page.tags %}
                <div class="tag-posted-in text-xs-right">
                  <ul class="list-unstyled">
                  {% for tag in page.tags %}
                    <li><i class="fa fa-tag"></i> <a href="/tag/{{tag|slugize}}">{{ tag | replace:'-', ' ' | capitalize }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </section>
            </article>
            <div class="portfolio-controls clearfix mb-30">
               <nav>
                  <ul>
                    <li class="pull-left wow slideInLeft" data-wow-delay="0.3s"><a class="btn btn-outline btn-md{% unless page.previous %} disabled {% endunless %}" href="{{page.previous.url}}"><i class="fa fa-angle-left"></i></a></li>
                    <li class="pull-right wow slideInRight" data-wow-delay="0.3s"><a class="btn btn-outline btn-md{% unless page.next %} disabled {% endunless %}" href="{{page.next.url}}"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </nav>
            </div>
            <!-- About Author -->
<!--             <section class="about-author-section mt-10">
                <div class="media wow fadeIn" data-wow-delay="0.3s">
                  <div class="media-left">
                    <a href="#"><img class="img-circle img-responsive" src="assets/img/blog/avatar/avatarBig1.jpg" alt=""></a>
                  </div>
                  <div class="media-body">
                    <h4>About Writter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis cumque, quo omnis rem eum ipsam qui. Tempore perspiciatis unde architecto quia, enim consectetur accusamus quasi omnis voluptatibus aliquid rem mollitia incidunt quibusdam eum, sit magnam, repellendus minima nihil iusto vitae ratione dicta, iste. Vitae, architecto.</p>
                  </div>
                </div>
                <div class="author-footer text-sm-center">
                  <a class="wow bounceIn" data-wow-delay="0.4s" href="#"><i class="fa fa-facebook icon-box icon-sm"></i></a>
                  <a class="wow bounceIn" data-wow-delay="0.5s" href="#"><i class="fa fa-twitter icon-box icon-sm"></i></a>
                  <a class="wow bounceIn" data-wow-delay="0.6s" href="#"><i class="fa fa-google-plus icon-box icon-sm"></i></a>
                  <a class="wow bounceIn" data-wow-delay="0.7s" href="#"><i class="fa fa-github icon-box icon-sm"></i></a>
                  <a class="wow bounceIn" data-wow-delay="0.8s" href="#"><i class="fa fa-dribbble icon-box icon-sm"></i></a>
                  <a class="wow bounceIn" data-wow-delay="0.9s" href="#"><i class="fa fa-behance icon-box icon-sm"></i></a>
                </div>
            </section> -->
<!--             <div class="similar-post mt-30 clearfix">
              <h3 class="small-title mb-40 wow fadeIn" data-wow-delay="0.3s">Similar Post</h3>
              <div class="col-md-3 no-pdl wow fadeIn" data-wow-delay="0.4s">
                <a href="#"><img src="assets/img/blog/home-items/img4.jpg" alt="" class="img-responsive"></a>
                <a href="#"><h2>Scetch Fundamental</h2></a>
              </div>
              <div class="col-md-3 no-pdl wow fadeIn" data-wow-delay="0.5s">
                <a href="#"><img src="assets/img/blog/home-items/img5.jpg" alt="" class="img-responsive"></a>
                <a href="#"><h2>Photoshop Basic</h2></a>
              </div>
              <div class="col-md-3 no-pdl wow fadeIn" data-wow-delay="0.6s">
                <a href="#"><img src="assets/img/blog/home-items/img6.jpg" alt="" class="img-responsive"></a>
                <a href="#"><h2>Meteor.JS Hands on</h2></a>
              </div>
              <div class="col-md-3 no-pdl wow fadeIn" data-wow-delay="0.7s">
                <a href="#"><img src="assets/img/blog/home-items/img7.jpg" alt="" class="img-responsive"></a>
                <a href="#"><h2>Css Advance</h2></a>
              </div>
            </div> -->
<div class="comments-area clearfix mt-50 wow fadeInUp" data-wow-delay="0.3s">
  <h3 class="small-title"><i class="fa fa-comment"></i> Comments</h3>
  <div id="disqus_thread" ></div>
</div>
            <!-- <div >
              <ul class="media-left comment-list mt-30">
                <li class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive img-circle" src="assets/img/blog/comment_avatar/avatar1.jpg" alt=""></a>
                  </div>
                  <div class="media-body">
                    <div class="commentor-info">
                      <div class="comment-author">
                        <a href="#">Al Amin Khan</a>
                        <span class="published-time"><i class="fa fa-calendar"></i> 18 hrs ago</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                    </div>
                    <div class="media reply">
                      <div class="media-body">
                        <div class="commentor-info">
                          <div class="comment-author">
                            <a href="#">Saifuddin</a>
                            <span class="published-time"><i class="fa fa-calendar"></i> 18 hrs ago</span>
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                        </div>
                      </div>
                      <div class="media-right">
                        <a href="#"><img class="img-responsive img-circle" src="assets/img/blog/comment_avatar/avatar2.jpg" alt=""></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive img-circle" src="assets/img/blog/comment_avatar/avatar3.jpg" alt=""></a>
                  </div>
                  <div class="media-body">
                    <div class="commentor-info">
                      <div class="comment-author">
                        <a href="#">Shovon Ali</a>
                        <span class="published-time"><i class="fa fa-calendar"></i> 5 hrs ago</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive img-circle" src="assets/img/blog/comment_avatar/avatar4.jpg" alt=""></a>
                  </div>
                  <div class="media-body">
                    <div class="commentor-info">
                      <div class="comment-author">
                        <a href="#">Jon Doe</a>
                        <span class="published-time"><i class="fa fa-calendar"></i> 1 Day ago</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                      <a href="#">Reply</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="new-comment mt-50">
                <h3 class="small-title">Post new Comment</h3>
                <form class="mt-30">
                  <div class="row">
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="sr-only" for="username">Name</label>
                        <input type="text" placeholder="Full Name" id="username" required="" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label class="sr-only" for="useremail">Email</label>
                        <input type="email" placeholder="Email Address" id="useremail" required="" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="sr-only" for="userurl">Website</label>
                        <input type="text" placeholder="Your Website" id="userurl" required="" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="usermessage">Message</label>
                    <textarea placeholder="
                    Type here message" id="usermessage" rows="7" required="" class="form-control"></textarea>
                  </div>
                  <button class="btn btn-common" type="submit"><i class="fa fa-comment"></i> Post Comment</button>
              </form>
              </div>
             </div> -->
          </div>
          <!-- End -->

          <!-- Blog Sidebar Section -->
          <div class="col-md-3">
            <div class="sidebar-area">
              <!-- Search Bar -->
<!--               <aside class="widget search-bar wow fadeInUp" data-wow-delay="0.3s">
                <form>
                  <input type="text" placeholder="Search" class="form-control">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </aside> -->
              <!-- Text Widgets -->
              {% if page.sidebar %}
              {% assign split = page.sidebar | split: '#'%}
              <aside class="widget text-widgets wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">{{split[0]}}</h2>
                <p>{{ split[1] | markdownify}}</p>
              </aside>
              {% endif %}
              <aside class="widget text-widgets wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Request for Comments</h2><p>I doubt if any eyes would fall upon this piece of writing. But if you do, I welcome you to this place. Please do fill out comments so that I know that you were here. Analytics just finds bots nowadays and the way it is going, we might have just bots to talk to all around us in the future. A human touch in the comments section would be very inspirational.</p>
              </aside>
              <!-- Recent Post Widgets -->
<!--               <aside class="widget popular-post wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Popular Post</h2>
                <ul>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#"><img class="img-responsive" src="assets/img/blog/avatar/avatar1.jpg" alt=""></a>
                      </div>
                      <div class="media-body">
                        <h4><a href="#">Principles of UX Design</a></h4>
                        <span class="published-time"><i class="fa fa-calendar"></i> 18 hrs ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#"><img class="img-responsive" src="assets/img/blog/avatar/avatar2.jpg" alt=""></a>
                      </div>
                      <div class="media-body">
                        <h4><a href="#">The unknown mystery of Momy</a></h4>
                        <span class="published-time"><i class="fa fa-calendar"></i> 5 Days ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#"><img class="img-responsive" src="assets/img/blog/avatar/avatar3.jpg" alt=""></a>
                      </div>
                      <div class="media-body">
                        <h4><a href="#">IMDM top 250 Movies</a></h4>
                        <span class="published-time"><i class="fa fa-calendar"></i> 6 Days ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#"><img class="img-responsive" src="assets/img/blog/avatar/avatar4.jpg" alt=""></a>
                      </div>
                      <div class="media-body">
                        <h4><a href="#">Meteor.JS Fundamentals</a></h4>
                        <span class="published-time"><i class="fa fa-calendar"></i> 7 Days ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </aside> -->
              <!-- Category -->
<!--               <aside class="widget flickr-widget wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Flickr Feed</h2>
                <div class="plain-flicker-gallery">
                  <a href="#" title="Pan Masala"><img src="assets/img/flicker/img1.jpg" alt=""></a>
                  <a href="#" title="Sports Template for Joomla"><img src="assets/img/flicker/img2.jpg" alt=""></a>
                  <a href="#" title="Apple Keyboard"><img src="assets/img/flicker/img3.jpg" alt=""></a>
                  <a href="#" title="Hard Working"><img src="assets/img/flicker/img4.jpg" alt=""></a>
                  <a href="#" title="Smile"><img src="assets/img/flicker/img5.jpg" alt=""></a>
                  <a href="#" title="Puzzle"><img src="assets/img/flicker/img6.jpg" alt=""></a>
                  <a href="#" title="Pan Masala"><img src="assets/img/flicker/img1.jpg" alt=""></a>
                  <a href="#" title="Sports Template for Joomla"><img src="assets/img/flicker/img2.jpg" alt=""></a>
                  <a href="#" title="Apple Keyboard"><img src="assets/img/flicker/img3.jpg" alt=""></a>
                </div>
              </aside> -->
              <!-- Subscribe Widget -->
<!--               <aside class="widget subscribe-widget wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Subscribe</h2>
                <div class="subscribe-area">
                  <p>Subscribe to our news latter to get regular update and blog posts.</p>
                  <form class="form-group" action="#">
                    <div class="input-group">
                      <input type="email" class="form-control input-block-level" placeholder="hello@youremail.com">
                    </div>
                    <button type="submit" class="mt-10 btn btn-common btn-block">Subscribe</button>
                  </form>
                </div>
              </aside> -->
              <!-- Tag Cloud -->
              <aside class="widget tag-cloud wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="widget-title">Tag cloud</h2>
                <div class="clearfix">
                  <ul>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <li>
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' | capitalize }}
    </a>
</li>
{% endfor %}
                </ul>
                </div>
              </aside>
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </section>
    <!-- Classic Blog Section End -->