
    <!-- Portfolio Section -->
    <section id="portfolio" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick" data-wow-delay=".3s">
            OUR PROFESSIONAL WORK
          </h1>
          <p class="section-subcontent wow fadeInUpQuick" data-wow-delay=".4s">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
          <!-- Portfolio Controller/Buttons -->
          <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
            <a class="filter active btn btn-common" data-filter="all">
              All
            </a>
            <a class="filter btn btn-common" data-filter=".branding">
              Branding
            </a>
            <a class="filter btn btn-common" data-filter=".marketing">
              Marketing
            </a>
            <a class="filter btn btn-common" data-filter=".planning">
              Planning
            </a>
            <a class="filter btn btn-common" data-filter=".research">
              Research
            </a>
          </div>
          <!-- Portfolio Controller/Buttons Ends-->

          <!-- Portfolio Recent Projects -->
          <div id="portfolio-list" class="wow fadeInUpQuick" data-wow-delay=".8s">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix marketing planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img1.jpg" alt="" />
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix branding planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img2.jpg" alt="" />
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix branding research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img3.jpg" alt="" />
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix marketing research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img4.jpg" alt="" />
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix marketing planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img5.jpg" alt="" />
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix planning research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img6.jpg" alt="" />
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Portfolio Recent Projects -->
          <div class="loadmore-button wow fadeInUpQuick" data-wow-delay=".6s">
            <a href="#" class="btn btn-common"><i class="fa fa-arrows"></i> Show More</a>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Team Section -->
    <section id="team" class="section">
      <!-- Container Starts -->
      <div class="container">
        <!-- Row Starts -->
        <div class="row">
          <h1 class="section-title wow fadeInDown" data-wow-delay=".5s">
            MEET OUR TEAM
          </h1>
          <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="1s">
              <figure class="team-profile">
                <img src="assets/img/team/team-01.jpg" alt="">
                <figcaption class="our-team">
                  <div class="details">
                    <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                   <div class="orange-line"></div>
                   <div class="social">
                     <a class="facebook" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                     <a class="twitter" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                     <a class="google-plus" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                   </div>
                  </div>
                </figcaption>
              </figure>
              <div class="info">
                <h2>
                  Sara smith
                </h2>
                <div class="orange-line"></div>
                <p>
                  Founder And ceo
                </p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="1.4s">
             <figure class="team-profile">
                 <img src="assets/img/team/team-02.jpg" alt="">
                <figcaption class="our-team">
                  <div class="details">
                    <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                   <div class="orange-line"></div>
                   <div class="social">
                     <a class="facebook" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                     <a class="twitter" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                     <a class="google-plus" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                   </div>
                  </div>
                </figcaption>
              </figure>
              <div class="info">
                <h2>
                  Sommer Christian
                </h2>
                <div class="orange-line"></div>
                <p>
                  creative studio head
                </p>
              </div>
            </div><!-- Team Item Starts -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="1.8s">
              <figure class="team-profile">
                  <img src="assets/img/team/team-03.jpg" alt="">
                <figcaption class="our-team">
                  <div class="details">
                    <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                   <div class="orange-line"></div>
                   <div class="social">
                     <a class="facebook" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                     <a class="twitter" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                     <a class="google-plus" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                   </div>
                  </div>
                </figcaption>
              </figure>
              <div class="info">
                <h2>
                  Jane lupkin
                </h2>
                <div class="orange-line"></div>
                <p>
                  magento developer
                </p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="2.2s">
              <figure class="team-profile">
                <img src="assets/img/team/team-04.jpg" alt="">
                <figcaption class="our-team">
                  <div class="details">
                    <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                   <div class="orange-line"></div>
                   <div class="social">
                     <a class="facebook" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                     <a class="twitter" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                     <a class="google-plus" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                   </div>
                  </div>
                </figcaption>
              </figure>
              <div class="info">
                <h2>
                  Sebastian roll
                </h2>
                <div class="orange-line"></div>
                <p>
                  Logo / branding designer
                </p>
              </div>
            </div><!-- Team Item Ends -->
          </div>
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- Team Section End -->

    <!-- Cool Facts Section -->
    <section id="cool-facts" class="section">
      <!-- Container Starts -->
      <div class="container">
        <!-- Row Starts -->
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick">
            AWESOME NUMBER FACTS
          </h1>
          <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay=".3s">
              <div class="facts-item">
                <i class="icon-trophy"></i>
                <div class="fact-count">
                  <h3><span class="counter">12</span></h3>
                  <h4>Awards won</h4>
                </div>
              </div>
            </div><!-- Fact Block Ends -->
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay=".8s">
              <div class="facts-item">
                <i class="icon-heart"></i>
                <div class="fact-count">
                  <h3><span class="counter">125</span></h3>
                  <h4>Happy clients</h4>
                </div>
              </div>
            </div><!-- Fact Block Ends -->
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay="1.1s">
              <div class="facts-item">
                <i class="icon-ghost"></i>
                <div class="fact-count">
                  <h3><span class="counter">40</span></h3>
                  <h4>Fun Facts</h4>
                </div>
              </div>
            </div><!-- Fact Block Ends -->
          </div>
           <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay="1.1s">
              <div class="facts-item">
                <i class="icon-picture"></i>
                <div class="fact-count">
                  <h3><span class="counter">75</span></h3>
                  <h4>Exhibitions</h4>
                </div>
              </div>
            </div><!-- Fact Block Ends -->
          </div>
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- Cool Facts Section End -->

    <!-- Testimonial Section -->
    <section id="testimonial" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeInUpQuick" data-wow-delay=".3s">
            <div id="testimonial-item" class="owl-carousel">
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img1.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Steve Austin <a href="#">envato.com </a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img2.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Chelsey Siltanen<a href="#">Microsoft</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img3.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Pamela Fox<a href="#">Khan Academy</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img4.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    janna Hagan<a href="#">Google</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img5.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Paul Tweedy<a href="#">BBC</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Testimonial Section End -->

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <!-- Row Starts -->
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick">
            THE BLOG
          </h1>
          <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper wow fadeIn" data-wow-delay="0.3s">
              <div class="blog-item-img">
                <a href="#">
                  <img src="assets/img/blog/home-items/img1.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                <h3 class="small-title"><a href="#">Amazing Blog Post One</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi accusantium perspiciatis ...
                </p>
                <div class="blog-one-footer">
                   <a href="#">Read More</a>
                  <a href="#"><i class="icon-heart"></i> 59 Likes</a>
                  <a href="#"><i class="icon-bubbles"></i> 120 Comments</a>
                </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Blog Item Wrapper Start-->
            <div class="blog-item-wrapper wow fadeIn" data-wow-delay="0.6s">
              <div class="blog-item-img">
                <a href="#">
                  <img src="assets/img/blog/home-items/img2.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                <h3 class="small-title"><a href="#">Amazing Blog Post One</a></h3>
                <p>
                   Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi accusantium perspiciatis ...
                </p>

                <div class="blog-one-footer">
                  <a href="#">Read More</a>
                  <a href="#"><i class="icon-heart"></i> 59 Likes</a>
                  <a href="#"><i class="icon-bubbles"></i> 120 Comments</a>
                </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Blog Item Wrapper Starts-->
            <div class="blog-item-wrapper wow fadeIn" data-wow-delay="0.9s">
              <div class="blog-item-img">
                <a href="#">
                  <img src="assets/img/blog/home-items/img3.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                 <h3 class="small-title"><a href="#">Amazing Blog Post One</a></h3>
                <p>
                   Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi accusantium perspiciatis ...
                </p>
                <div class="blog-one-footer">
                   <a href="#">Read More</a>
                  <a href="#"><i class="icon-heart"></i> 59 Likes</a>
                  <a href="#"><i class="icon-bubbles"></i> 120 Comments</a>
                </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- blog Section End -->

    <!-- Clients Section -->
    <section id="clients" class="section">
      <!-- Container Ends -->
      <div class="container">
        <h1 class="section-title wow fadeInUpQuick" data-wow-delay=".5s">
          CLIENTS
        </h1>
        <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
        <div class="wow fadeInUpQuick" data-wow-delay=".9s">
          <!-- Row and Scroller Wrapper Starts -->
          <div class="row" id="clients-scroller">
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img1.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img2.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img3.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img4.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img5.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img6.png" alt="">
            </div>
          </div><!-- Row and Scroller Wrapper Starts -->
        </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Client Section End -->
