{{ $sass := resources.Get "scss/main.scss" }}
{{ $cssOpts := cond (.Site.IsServer) (dict "enableSourceMap" true ) (dict "outputStyle" "compressed") }}
{{ if .Site.IsServer }}
{{ $syntax := resources.Get "css/syntax.css" }}
<link rel="stylesheet" href="{{ $syntax.Permalink | absURL }}" media="screen">
{{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $css.Permalink | absURL }}" media="screen">
{{ else }}
{{ $syntax := resources.Get "css/syntax.css" }}
{{ $main := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts }}
{{ $cssFiles := slice $main $syntax | resources.Concat "css/index.css"}}
{{ $css := $cssFiles | resources.Minify | resources.Fingerprint "sha512" }}

<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="screen">
{{ end }}

{{ range .Site.Params.custom_css }}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
{{ end }}
